Nama Mahasiswa : <br>

<input type=”text” name=”nama”><br>

 

Mata Kuliah : <br>

<input type=”text” name=”makul”><br>

 

Nilai Absen : <br>

<input type=”text” name=”absen”><br>

 

Nilai Tugas : <br>

<input type=”text” name=”tugas”><br>

 

Nilai UTS : <br>

<input type=”text” name=”uts”><br>

 

Nilai UAS : <br>

<input type=”text” name=”uas”><br><br>

 

<input type=”submit” value=”Hitung”>

</form>